// Styles for Homepage

.custom-logo-link
{
	max-width:100px;
}


.image_wrapper{
	position: relative; 

}

 .image_description{
	top:150px;
		left: 540px;
		color: white; 
		opacity: 0.75;
		position: absolute; 

}



.spacer{
	background-color:#D24E57;
	margin: 0 auto;
}

.spacer-image {
	max-width: 350px;
		// padding-left: 500px;
}

.spacer-two{
	margin: auto;
}

// Start Displaying About, Team Blurb, and Download




.title{
	color: #95989A;
	text-align: center;
	    padding-top: 25px;
}


.content{
	font-weight:400;
	color: #95989A;
	padding-bottom: 50px;
	text-align: center;
	 
}

@media screen and (min-width: 640px) 
	{.content
		{   
		;
	    padding-left: 150px;
	    padding-right: 150px;
		}
	}


// End Displaying About, Team Blurb, and Download

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 1500px;
  align:center;
}

.gradient{
	background-color: #D24E57;
 	background-image: url("gradient.png") !important;
 	color:white;	
}

.gradient-content{
	padding-right: 50px;
}

// Responsive Grid for Step One & Three

@media screen and (min-width: 640px) {
  .grid {
    display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 44px;

  }
}

// Responsive Grid for Step Two
@media screen and (min-width: 640px) {
  .grid-two {
    display: grid;
      grid-template-columns: 2fr 1fr ;
      grid-gap: 44px;
      padding-left: 50px;
  }
}

// Aligners
.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}


// Step Two Text 
.text-right{
text-align: right;
color: #95989A;
}

// Team Members
@media screen and (min-width: 640px) {
  .grid-three{
    display: grid;
    float: left; 
      grid-template-columns: 1fr 1fr 1fr;
      // grid-gap: 14px;
  }
}

.flex {

	display: flex;
		align-items: center;
}
.person_name{
	text-align:center;
	margin: 0 auto;
	color: #D24E57;
}

.person_title{
	text-align:center;
	margin:0 auto;
	color: #95989A;
}

.person_description{
	margin:0 auto;
	color: #95989A;
}

.words{
	margin: 0 auto;
}

// Form

.form{
	background-color: #D24E57;
	color: white; 
	margin: 0 auto;
}

.form-content{
	 margin: 0 auto;
}

.gform_body{
	padding-top: $spacer-2x-y;
	padding-bottom: $spacer-2x-x;
}





