// Variables


// Colors
$gray: #eaeaea;

// Spacer
//
// Use these to create a consistent set of numbers for your
// margins and paddings

// Base
$spacer: 8px;
$spacer-y: 8px;
$spacer-x: 8px;

// Larg
$spacer-15x: 12px;
$spacer-15x-y: 12px;
$spacer-15x-x: 12px;

// Larger
$spacer-2x: 16px;
$spacer-2x-y: 16px;
$spacer-2x-x: 16px;

// Largest
$spacer-3x: 32px;
$spacer-3x-y: 32px;
$spacer-3x-x: 32px;